* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
}

#logo{
    display: flex;
    justify-content: center;
}
#name {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    font-family: "Baloo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 3rem;
}
#logo-img {
    width: 280px;
    margin-top: 1rem;
    border: 1px solid black;
    border-radius: 50%;
}

#menu {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    padding-bottom: 1.2rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.418);
}

#menu ul {
    display: flex;
    list-style: none;
    width: 100vw;
    justify-content: space-evenly;
    
}

#menu li p{
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    transition-duration: .3s;
    
}

#menu li p:hover {
    color: white;
    background-color: rgb(255, 192, 231);
    padding: 3px;
    border-radius: 12px;
    border: 1px solid #7EDACE;
    transition-duration: .3s;
}

#menu li a {
    text-decoration: none;
    color: black;
}

nav {
    padding-top: 2rem;
    background-color: #7EDACE;
    border-bottom: 1px solid rgba(0, 0, 0, 0.418);
    height: auto;
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    margin-bottom: 2rem;

}

nav ul li {
    color: black;
    font-family: "League Spartan", sans-serif;
    font-size: 25px;
    
}

nav ul a  {
    text-decoration: none;
    transition-duration: .3s;
}

nav a:hover {
    background-color: rgb(255, 192, 231);
    padding: 4px;
    border-radius: 12px;
    border:1px solid rgba(88, 88, 88, 0.596);
    transition-duration: .3s;
}

#checkbox {
    display: none;
    }

#container {
    height: 100%;
    display: flex;
    justify-content: center;
}

#imgcontainer {
    background-color: rgb(255, 255, 255);
    width: 70vw;
    margin-top: 3rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imagens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
}

#imagens a {
    margin: 1rem;
}

#imagens img {
    width: 250px;
    border-radius: 12px;
    border: 2px solid #7EDACE;
}

h2 {
    text-align: center;
    font-family: "League Spartan", sans-serif;
    font-size: 40px;
    border-bottom: 1px solid #7EDACE;
    padding: 0.8rem 0px;
}

#novidades {
    display: flex;
    justify-content: center;
}

#novidades a {
    margin: 2rem;
}

#novidades img {
    width: 200px;
    border-radius: 12px;
    border: 2px solid #7EDACE;
}

@media screen and (max-width:1190px) {
    #imagens img {
        width: 200px;
    }

    #novidades {
        flex-wrap: wrap;
    }
}

@media screen and (max-width:832px) {
    #container {
        display: flex;
        flex-direction: row;
    }

   #container img {
    width: 200px;
   }

   #menu {
    margin-top: 1rem;
    display: none;
    transition-duration: 1s;
}

#menu ul {
    flex-direction: row;
    align-items: center;
    transition-duration: 1s;
}

#menu li {
    margin-top: 1rem;
}

#menu li p {
    font-size: 30px;
    border-bottom: 2px solid #7EDACE;
    padding-top: 1px;
}

   #hambur-menu {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    
}

nav {
    padding-top: 0;
    height: auto;
}

nav ul {
    flex-wrap:wrap ;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.8rem;
}

nav ul a li {
    margin-top: 0.8rem;
    border-bottom: 1px solid #ffffffb4;
}

#imagens {
    width: 90vw;
}
   #checkbox {
    display: none;
    }

    .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .5s;
    }

    .bars {
    width: 100%;
    height: 4px;
    background-color: #7EDACE;
    border-radius: 4px;
    }

    #bars2 {
    transition-duration: .8s;
    }

    #bars1 #bars3 {
    width: 70%;
    }

    #checkbox:checked+.toggle .bars {
    position: absolute;
    transition-duration: .5s;
    }

    #checkbox:checked+.toggle #bars2 {
    transform: scaleX(0);
    transition-duration: .5s;
    }

    #checkbox:checked+.toggle #bars1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
    }

    #checkbox:checked+.toggle #bars3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
    }

    #checkbox:checked+.toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
    }

}

@media screen and (max-width:620px) {    
    #logo img {
        width: 200px;
    }
    
    #name h1{
        font-size: 50px;
    }    
    #container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header {
        transition-duration: .5s;
    }

    #container img{
        margin-bottom: 1rem;
    }

    #menu {
        margin-top: 1rem;
        display: none;
        transition-duration: 1s;
    }

    #menu ul {
        flex-direction: row;
        align-items: center;
        transition-duration: 1s;
    }

    #menu li {
        margin-top: 1rem;
    }

    #menu li p {
        font-size: 30px;
        border-bottom: 2px solid #7EDACE;
        padding-top: 1px;
    }

    #imagens {
        width: 100vw;
    }

    #imagens a {
        margin: 0.5px;
    }

    #imagens img {
        width: 170px;
    }

    #novidades {
        width: 100vw;
    }

    #novidades a {
        margin: 0.5px;
    }

    #novidades img {
        width: 170px;
    }

    #hambur-menu {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #checkbox {
        display: none;
    }
    
    .toggle {
        position: relative;
        width: 40px;
        height: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        transition-duration: .5s;
    }

    .bars {
        width: 100%;
        height: 4px;
        background-color: #7EDACE;
        border-radius: 4px;
    }
    
    #bars2 {
        transition-duration: .8s;
    }

    #bars1 #bars3 {
        width: 70%;
    }

    #checkbox:checked+.toggle .bars {
        position: absolute;
        transition-duration: .5s;
    }

    #checkbox:checked+.toggle #bars2 {
        transform: scaleX(0);
        transition-duration: .5s;
    }

    #checkbox:checked+.toggle #bars1 {
        width: 100%;
        transform: rotate(45deg);
        transition-duration: .5s;
    }

    #checkbox:checked+.toggle #bars3 {
        width: 100%;
        transform: rotate(-45deg);
        transition-duration: .5s;
    }

    #checkbox:checked+.toggle {
        transition-duration: .5s;
        transform: rotate(180deg);
    }
}

@media screen and (max-width:320px) {
    #menu ul {
        flex-direction: column;
    }
}